apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  labels:
    app: kafka-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  strategy:
    type: Recreate  # Prevent duplicate sends during updates
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - kafka-producer
                - kafka-consumer
            topologyKey: kubernetes.io/hostname
      containers:
      - name: producer
        image: image-registry.openshift-image-registry.svc:5000/ds551-2025fall-7ae539/kafka-producer:latest # change acccordingly
        imagePullPolicy: Always
        env:
        - name: KAFKA_BROKER
          value: "kafka:9092"
        - name: KAFKA_TOPIC
          value: "transactions"
        - name: DATA_FILE
          value: "/data/transactions.csv"
        - name: BATCH_SIZE
          value: "50000"
        - name: BATCH_DELAY
          value: "10"
        - name: MAX_BATCHES
          value: "20"
        volumeMounts:
        - name: data
          mountPath: /data
          readOnly: true
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1Gi
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: transaction-data-pvc
