apiVersion: batch/v1
kind: Job
metadata:
  name: pyspark-eda
  labels:
    app: pyspark-eda
    version: v2
spec:
  backoffLimit: 3
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app: pyspark-eda
    spec:
      restartPolicy: OnFailure
      containers:
      - name: pyspark
        image: image-registry.openshift-image-registry.svc:5000/ds551-2025fall-7ae539/pyspark-eda-custom:latest
        imagePullPolicy: Always
        env:
          - name: HOME
            value: /tmp
          - name: USER
            value: spark
          - name: HADOOP_USER_NAME
            value: spark
        command: ["python", "/app/eda_analysis.py"]
        volumeMounts:
        - name: data
          mountPath: /data
        resources:
          requests:
            cpu: 500m
            memory: 2Gi
          limits:
            cpu: 1500m
            memory: 4Gi

      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: transaction-data-pvc

      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
